* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.Body {
  margin-top: 20px;
  height: auto;
  background: url(src/images/Page-BgTexture.jpg);
}
.main {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  max-height: 100%;
  /* //border: 1px solid yellow; */
}

/* Header */
.containerHeder {
  width: 100%;
  display: flex;
  height: 124px;

  background: url(src/images/Header.jpg);
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.logo {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo h3 {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.navigation {
  display: flex;
  background: url(src/images/nav.png);
  background-size: cover;
  height: 28px;
}
.navigation a {
  color: rgb(189, 189, 189);
  font-size: 14px;
}
.navigation li {
  list-style-type: none;
  display: inline;
  margin-left: 25px;
}
.navigation li:hover {
  text-decoration: underline;
}

/* Body */
.mainBody {
  padding: 20px 12px 25px 28px;
  display: flex;
  background: rgba(66, 66, 66, 0.678);
  justify-content: space-between;
}
.textBody a {
  color: rgba(199, 172, 21, 0.849);
}

.textBody p {
  margin-top: 15px;
}
.textBody {
  flex-direction: column;
  display: flex;
  color: rgba(247, 236, 176, 0.849);
  width: 75%;
}
.textBody a:hover {
  text-decoration: underline;
}
.contentBox,
.textIntro,
.textMainTop {
  display: flex;
  flex-direction: column;
}
.textIntro,
.textMainTop {
  color: rgba(243, 227, 138, 0.849);
  background: rgb(48, 48, 48);
  border: 1px solid rgb(26, 26, 26);
  margin-top: 10px;
}
.textIntro img,
.textMainTop img {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 15px;
}
.contentBox p {
  text-align: justify;
  font-size: 19px;
  margin: 10px auto;
  width: 80%;
}
.contentBox h3 {
  text-align: center;
}
.contentBox h2,
.textMainTop h3 {
  font-size: 35px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px black, 0 0 1em rgba(0, 0, 0, 0.5);
}
.textMainTop h3 {
  margin-top: 20px;
  font-size: 20px;
}
.contentBox h4 {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 30px;
}
/* RightContentCollam  */
.contentCol {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.contentCol_seachBlock,
.contentCol_nav {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(123 112 53 / 85%);
  border-radius: 10px;
  background: rgb(66, 66, 66);
  height: 100px;
  margin-bottom: 12px;
  padding-top: 10px;
}

.contentCol_seachBlock input {
  width: 90%;
  height: 20px;
  display: flex;
  margin: 0 auto;
}

.buttonSeach {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  background: rgb(189, 176, 1);
  border: none;
  margin: 4px 0 0 9px;
}
.buttonSeach:hover {
  background: rgb(209, 195, 3);
  cursor: pointer;
}
.captionBox {
  display: flex;
  margin-left: 20px;
}
.captionBox p {
  display: flex;
  align-items: flex-end;
  color: rgb(168, 168, 168);
  margin-left: 5px;
  font-size: 14px;
}
.textCol {
  display: flex;
  color: rgba(243, 227, 138, 0.849);
  font-size: 14px;
  align-items: flex-start;
  margin-left: 15px;
  margin-top: 15px;
}
.textBlock {
  display: flex;
  flex-direction: column;
}
.textCol a {
  color: rgba(243, 227, 138, 0.849);
  text-decoration: none;
}
.linkMenu:hover {
  text-decoration: underline;
}
.textCol li {
  list-style-type: none;
  margin-top: 7px;
}
.textCol li:before {
  margin-right: 5px;
  content: url(src/images/BlockContentBullets.png); /* Добавляем в качестве маркера символ */
}

.textCol li:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  background: url(src/images/Footer.png);
  height: 60px;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  position: relative;
  justify-content: center;
}
.imgfooter {
  position: absolute;
  top: 13px;
  left: 8px;
}
.imgfooter img {
  width: 140%;
}
.textfooter {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

/* Responsive*/

/* 992px - 1200px */
@media (max-width: 1200px) {
  .textBody {
    width: 70%;
  }
  .contentBox h2 {
    font-size: 28px;
  }
}

/*768px - 992px*/
@media (max-width: 992px) {
  .container {
    width: 95%;
  }
  .textBody {
    width: 68%;
  }
  .contentCol {
    width: 195px;
  }
  .contentBox h2 {
    font-size: 24px;
  }
  .contentBox h3 {
    font-size: 19px;
  }
  .contentBox p {
    font-size: 15px;
  }
  .captionBox {
    margin-left: 10px;
  }
}
/*576px - 768px*/
@media (max-width: 768px) {
  .container {
    width: 98%;
  }
  .mainBody {
    padding: 20px 8px 20px 11px;
  }
  .contentCol {
    width: 165px;
  }
  .textCol {
    margin-left: 6px;
    margin-top: 10px;
  }
  .textCol {
    font-size: 12px;
  }
  .contentBox p {
    font-size: 14px;
    width: 85%;
  }
  .textIntro img,
  .textMainTop img {
    width: 85%;
  }
  .captionBox img {
    width: 15px;
    height: 23px;
  }
  .contentBox h3,
  .contentBox h4 {
    font-size: 16px;
  }
  .contentBox h2 {
    font-size: 20px;
  }
  .contentBox h3 {
    width: 60%;
  }
}

/*320px - 576px*/
@media screen and (max-width: 576px) {
  .Body {
    margin-top: 10px;
  }
  .mainBody {
    flex-direction: column-reverse;
  }
  .navigation li {
    margin-left: 14px;
  }
  .navigation a {
    font-size: 13px;
  }
  .contentCol_nav {
    display: none;
  }
  .contentCol {
    width: 100%;
  }
  .contentCol_seachBlock {
    height: 75px;
  }
  .textBody {
    width: 100%;
  }
  .buttonSeach {
    margin: 9px 0 0 16px;
  }
  .contentBox h2 {
    font-size: 17px;
  }
  .contentBox h3 {
    width: 70%;
  }
  .account {
    display: flex;
  }
}
